.left,
.right,
.impartial {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.left {
  margin-right: auto;
}

.left .details {
  background-color: #96faec;
}

.right {
  flex-direction: row-reverse;
  margin-left: auto;
}

.right .details {
  background-color: #f9d6b4;
}

.impartial .details {
  background-color: #97A1AB;
}

.deleteicon {
  float: right;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.details:hover .deleteicon,
.details:focus .deleteicon {
  opacity: 0;
  opacity: 1;
}

.details:not(:hover) .deleteicon {
  opacity: 0;
}

.timelineMarker {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.timelineMarker:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.timelineMarker:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #f8f9fa;
}

.activityLink {
  color: inherit;
}