html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

.pokal {
    width: 230px;
    padding: 0;
}

.pokal-part {
    width: 105px;
}

.pokal-winner {
    width: 115px;
}

.container {
    max-width: 800px;
    min-width: 400px;
}

.profile-icons {
    width: 60px;
    margin: 0;
    padding: 0;
    padding-top: 54px;
}

.profile-left {
    margin-right: -25px;
}

.profile-right {
    margin-left: -25px;
}

.main-content {
    text-align: center;
}

.points {
    font-size: 4.5em;
}

.side-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

.side-images img {
    height: auto;
    margin-bottom: 10px;
    /* Adjust the margin as needed */
}

.progress-bar-container {
    display: flex;
    align-items: center;
    height: 50px;
    background: #f8f9fa;
}

#progress-container {
    margin-top: 20px;
    position: relative;
}

.progress {
    background-color: #F9D6B4;
    height: 50px;
    border-radius: 25px;
}

.progress-bar {
    background-color: #96FAEC;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.progress-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 24pt;
    color: rgb(24, 24, 24);
}

.text1 {
    left: 0;
    text-align: left;
    padding-left: 10px;
}

.text2 {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.text3 {
    right: 0;
    text-align: right;
    padding-right: 10px;
}

.activity-left,
.activity-right {
    display: flex;
    align-items: center;
    flex-shrink: 0
}

.activity-left {
    margin-right: auto
}

.activity-left .activity-details {
    background-color: #F9D6B4;
}

.activity-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.activity-right .activity-details {
    background-color: #96FAEC;
}

.timeline-marker {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.timeline-marker:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.timeline-marker:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #f8f9fa;
}

.distance-unit {
    
}